body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
}
header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}
.navbar {
    display: flex;
    justify-content: center;
    padding: 0;
}
.navbar li {
    list-style: none;
    margin: 0 10px;
}
.navbar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
main {
    max-width: 960px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
article {
    margin-bottom: 20px;
}
footer {
    text-align: center;
    padding: 20px 10px;
    background-color: #333;
    color: #fff;
}
footer p, footer ul {
    margin: 10px;
}
footer a {
    color: lightblue;
}

.links {
    list-style-type: none;
}

li a {
    text-decoration: none;
}

li a:hover {
    color: yellow
}

.cont_img {
    text-align: center;
}

.cont_img img{
    width: 50%;
}
